h1,
a,
p,
h5,
h4,
h3 {
    color: darkslategray;
    font-family: monospace, sans-serif;
    text-align: center;
}

.bold {
    font-weight: bold;
}

body {
    background-color: #cccccc;
    background-image: url(img/bg.jpg);
}

h1 {
    font-size: 45px;
    font-weight: bold;
}

a {
    margin: 5px;
    padding: auto;
}

a.flink {
    display: block;
    border-radius: 5px;
}

a.flink:hover {
    background-color: rgba(194, 194, 194, 0.671);
}

p {
    margin: 5px 5px;
}

.front-page {
    background-color: rgba(216, 216, 216, 0.6);
    border: 3px solid darkslategray;
    margin: auto;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 1px slategray;
}

.items {
    margin: auto;
    width: 20%;
}

img {
    display: block;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.ingredients {
    width: 30;
    text-align: center;
    margin-right: 3%;
}

.steps {
    width: 70%;
}

li {
    font-size: 14px;
}

.ing {
    display: flex;
    justify-content: center;
}

ul,
ol {
    padding-left: 10px;
}